/* reset básico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elemento: todos os elementos html são mencionados sem . ou # */

body {

    font-family: arial, sans-serif;
    line-height: 1.6;
    color: #333;

}

header {
    background: linear-gradient(135deg, #667eea 0%, #764 100%);
    color: white;
}

header h1 {
    font-size: 1.8rem;
    margin-left: 1.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.3s;
}

nav a:hover {
    opacity: 0.6;
}

main {
    min-height: 80vh; /* vh: view height - unidade baseada na altura da Viewport (Janela do Navegador) */
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: #333;
    color: aliceblue;
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;

}

@media (max-width: 768px){
    header {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
    nav ul {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    main {
        padding: 2rem 1rem;
    }
}